.header {
  display: flex;
  max-width: 1154px;
}
.section {
  width: 42px;
  height: 42px;
  border: 1px solid rgb(115, 98, 188);
  background: rgb(255, 255, 255);
  border-radius: 50%;
}
.circle {
  position: absolute;
}
.mail {
  display: block;
  width: 42px;
  height: 42px;
  margin-top: 8px;
  text-align: center;
}

.mail_icon {
}
