.entry {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrap {
  width: 340px;
  margin-bottom: 100px;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sirius_logo {
  width: 80px;
}
.entry_sirius {
  margin: 30px 0 16px 0;
  color: rgb(50, 56, 84);
  font-size: 40px;
  font-weight: 400;
  line-height: 35px;
}
.section:nth-child(2) {
  gap: 12px;
}
.section:nth-child(3) {
  flex-direction: row;
  margin: 19px 0 35px 0;
  justify-content: flex-start;
}
.inp {
  width: 317px;
  padding: 9px 11px;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
.inp::placeholder {
  color: rgb(121, 116, 127);
  font-size: 12px;
  font-weight: 400;
}
.checkbox {
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.section span {
  color: rgb(121, 116, 127);
  font-size: 12px;
  font-weight: 400;
  line-height: 135%;
  margin-left: 4px;
}
.entrance {
  margin-bottom: 15px;
  border-radius: 30px;
  background: rgb(141, 127, 199);
  width: 339px;
  height: 48px;
  border: unset;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  line-height: 125%;
  cursor: pointer;
}
.section:nth-child(5) {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 73px;
}
.link {
  text-decoration: none;
  color: rgb(0, 138, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
  cursor: pointer;
}
.registration {
  color: rgb(50, 56, 84);
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 5px 0;
}
.langs {
  display: flex;

  gap: 8px;
}
.lang {
  color: rgb(121, 116, 127);
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
  cursor: pointer;
  margin: 0;
}
.active {
  color: rgb(115, 98, 188);
  font-size: 24px;
  font-weight: 400;
  line-height: 21px;
}
.pass_vis {
  position: relative;
}
.show_password {
  background-color: unset;
  border: unset;
  position: absolute;
  padding: 0;
  right: 10px;
  margin: 5.5px 0;
}
.show_password img {
  width: 25px;
}
